<ion-view view-title="Test Vocacional  - MyAppTest -">
  <ion-content class="padding">
  
      <div align="center"><img src="icon1.png" align="center"></div>
<div align="center">
        <p>Responde con rapidez, franqueza y honestidad. Contesta todos los reactivos, eso te ayudará a seleccionar tus posibles  opciones de seleccion de carrera. </p>
    <p>Aplica la siguiente escala:<br>
            En Verde = Te Gusta<br>
            En Blanco = No te Gusta</p>
    
<div align="center">DECIDIR es superar el miedo de Arrepentirse<br></div>
<br>Carreras:
   <br>Ingeniería Sistemas Computacionales
   <br>Ingeniería Industrial
   <br>Ingeniería Electronica
   <br>Ingeniería Mecatronica
   <br>Ingeniería Gestión Empresarial
   <br>Licenciatura en Administracion de Empresas
   <br>Ingeniería Electromecanica<br>
      </div>
  </ion-content>
</ion-view>
