<ion-view view-title="MyAppTest">
  <ion-content>


  <div class="card">
  <div class="item item-text-wrap">
    Conocer y aplicar el marco legal en los sistemas mecánicos y electrónicos
    <ion-toggle  ng-model="settings.enableFriends1"></ion-toggle>
  </div>
   <div class="item item-text-wrap">
    Valorar lo que la ciencia y tecnología aportan a la evolución humana. 
    <ion-toggle  ng-model="settings.enableFriends2"></ion-toggle>
  </div>
  <div class="item item-text-wrap">
    Diseñar programas de capacitación para los empleados de una empresa. 
    <ion-toggle  ng-model="settings.enableFriends3"></ion-toggle>
  </div>
  <div class="item item-text-wrap">
    Aplicar la instrumentación en la producción
    <ion-toggle  ng-model="settings.enableFriends4"></ion-toggle>
  </div>

      <div class="item item-text-wrap">
    Utilizar tecnologías eléctricas, electrónicas y herramientas computacionales.
    <ion-toggle  ng-model="settings.enableFriends5"></ion-toggle>
  </div>
      
      <div class="item item-text-wrap">
    Diseñar e instrumentar modelos novedosos para la distribución de energía eléctrica.
    <ion-toggle  ng-model="settings.enableFriends6"></ion-toggle>
  </div>
            
      <div class="item item-text-wrap">
    Analizar, diseñar, innovar, implementar y evaluar sistemas y modelos administrativos.
    <ion-toggle  ng-model="settings.enableFriends7"></ion-toggle>
  </div>

</div>

  </ion-content>
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label>
</ion-view>
